@charset "UTF-8";

.resumo-box {
    display: none;
    margin: auto;
    width: 100%;
}

.resumo-box ul {
    list-style-type: none;
}

div.resumo-box {
    padding: 0px 20px 30px 20px;
}

.form-lcto-contribuicao p {
    text-align: center;
    padding: 20px;
}

.container {
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    /* background: #f9f9f9; */
    text-align: center;
    margin-bottom: 20px;
}

.container>p {
    font-size: 23px;
}

.info {
    margin: 10px 0;
}

.btn {
    background: none;
    border: none !important; 
    font-size: 35px;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}

.btn:hover {
    background: none;
    border: none;
}

/* ---------------------------- */
button.no-print {
    margin-top: 20px;
}

.subTotal {
    border-top: 2px solid #063042;
    font-weight: 700;
}

/* ----------------------------- */

@media print {
    i#menu {
        display: none;
    }

    .container button {
        display: none;
    }


    .no-print {
        display: none !important;
    }

    body {
        font-size: 12pt;
    }

    .subTotal {
        border-bottom: 2px solid #063042;
    }

}