@charset "UTF-8";

:root {
    --cor1: #063042;
    --cor2: #4384F2;
    --cor3: #D9E6FC;
    --cor4: #F2F7FA;
    --font-principal: Montserrat;
}

.form-dizimo {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-dizimo p {
    text-align: center;
    margin: 10px 0px;
}


.form-dizimo label {
    padding: 10px 0px;
    margin: 20px 0px;
    font-weight: 700;
}

.form-dizimo > select {
    width:100%;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#camposDizimo > input {
    width: 95%;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#camposOferta > input {
    width: 100%;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-dizimo > button {
    width: 100%;
}

@media (max-width: 480px) {
    form.form-dizimo {
        width: 90%;
        padding: 15px;
    }
}


