@charset "UTF-8";

:root {
    --cor1: #063042;
    --cor2: #4384F2;
    --cor3: #D9E6FC;
    --cor4: #F2F7FA;
    --font-principal: Montserrat;
}

form.form-contribuicao {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.mes {
    flex: 1 0 140px;
}

.form-contribuicao label {
    font-weight: 700;
}

.ano {
    flex: 1 0 140px;
}

.form-contribuicao input,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-contribuicao button {
    margin: 0px;
    flex: 1 0 60px;
}