@charset "UTF-8";

.container {
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-align: center;
}

.container > p {
    font-size: 23px;
}

.info {
    margin: 10px 0;
}

@media print {
    i#menu {
        display: none;
    }    

    .container button {
        display: none;
    }
}
