@charset "UTF-8";

/* Estilo mobile-first: telas pequenas */

/* Estilo para destacar a linha selecionada */
.transacao-linha.selecionada {
    background-color: #D9E6FC;
    border: 3px solid #063042;
}

/* Ajuste da tabela para edição */
.transacao-linha input[type="text"],
.transacao-linha input[type="number"],
.transacao-linha input[type="date"],
.transacao-linha textarea,
.transacao-linha select {
    margin: 0;
    padding: 10px 5px;
    text-align: center;
    font-size: 0.9rem;
    background: white;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}

/* Mensagem flutuante de instrução */
.mensagem-flutuante {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4f4f4;
    color: #222;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-left: 7px solid var(--cor2);
    font-size: 0.9rem;
    border-radius: 5px;
    font-weight: bold;
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------- */

.button-icon {
    font-size: 20px;
}

/* Torna a célula um contêiner para centralização */
td.acoes {
    text-align: center;
    vertical-align: middle;
}

/* Flexbox para alinhar os botões no centro */
.acoes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon.delete,
.button-icon.salvar {
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.button-icon.delete:hover,
.button-icon.salvar:hover {
    background: none;
    border: none;
}

/* Estado visível */
.button-icon.delete.visible,
.button-icon.salvar.visible {
    display: inline-block;
    opacity: 1;
    visibility: visible;

}

/* Estado oculto */
.button-icon.delete.hidden,
.button-icon.salvar.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}




