@charset "UTF-8";

#btn-imprimir-relatorio {
    padding: 6px 10px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.mensagem-sem-dados {
    margin: 11vw auto;
    background-color: white;
    border: 1px solid var(--cor1);
    color: var(--cor1);
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    max-width: 600px;
    font-size: 16px;
}

/* Ajuste do resumo financeiro */

.resumo-financeiro {
    background-color: var(--cor1);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.resumo-financeiro p {
    color: var(--cor4);
    flex: 1;
    min-width: 150px;
    padding: 10px;
    text-align: center;
}


@media screen and (min-width: 768px) {
    
    .resumo-financeiro {
        padding: 40px 5px;
    }
}



@media print {

    /* Remove margens automáticas que alguns navegadores adicionam */
    body {
        margin: 0;
        padding: 0;
        color: black;
    }

    /* Oculta cabeçalho, rodapé, menus e formulários */
    #form-contribuicao,
    #menu,
    .container-form p,
    .no-print {
        display: none !important;
    }

    /* Exibe apenas o conteúdo principal do relatório */
    main {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Tabela: remove estilos desnecessários e força quebra de página adequada */
    table {
        width: 100%;
        font-size: 8pt;
        border-collapse: collapse;
    }

    thead {
        display: table-header-group;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    th, td {
        width: 200px;
        padding: 10px 2px;
    }

    .resumo-financeiro{
        background: none;
    }

    .resumo-financeiro p {
        color: black;
    }

    footer {
        margin-top: 10px;
    }

    @page {
        size: landscape;
        @bottom-center {
            content: "Page " counter(page) " / " counter(pages);
        }
    }
}